.forecastContainer{
    background-color: white;
    padding-left: 1.5rem;
    padding-top:0.1rem;
    border-radius:0.5rem;
    padding-right: 1rem;
    
}

.DateCard{
    display: flex;
}

.eachDate{
    border: 1px solid gray;
    border-radius: 1rem;
    width:5rem;
    height: 12rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.conditionIconForecast{
  width: 2.5rem;
}

@media (min-width:500px){
    .forecastContainer{
        width:max-content;
        padding-right: 2rem;
    }
}