
 @media (max-width : 500px){
  .App {
    text-align: center;
    background-color: skyblue;
    min-height: 100vh;
    padding: 20px;
  }
 }

 .App {
  text-align: center;
  background-color: skyblue;
  min-height: 100vh;
  padding: 20px;
}
